html {
  scroll-behavior: smooth;
}


body {
    background-image: url("mainPageImages/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    /* scroll-behavior: smooth; */
  }


.topnav {
  overflow: hidden;
  background-color: bisque;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.topnav a {
  float: left;
  /* position: fixed; */
  margin-left: 2em;
  margin-right: 3.5em;
  padding: 20px;
  text-align: center;
  /* removes underline */
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(24, 23, 22); 
  font-size: 17px;
  
}
.topnav a:hover {
  background-color: rgb(138, 121, 121);
  color: black;
}


#main{
  display: block;
  position: absolute;
  top: 7em;
  right: 10em ;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
}

#mainImg{
  position: absolute;
  top: 6em;
  left: 10em;
  opacity: 0.5;
  z-index: -1;
}

img {
  border-radius: 50%;
}

.button{
    
    /* display: inline-block; */
    border: none;
    border-radius: 15px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: absolute;
    top: 25em;
    left: 40em;
    width: 7em;
    padding: 19px;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
}


.socials {
  display: flex;
  position: absolute;
  top: 35em;
  left: 22em;
}

.socials> div {
  display: flex ;
  padding: 60px;
  
}

/* LOGIN CSS!!! */

form{
  position: absolute;
  top: 10em;
  left: 25em;
  border: 1pt solid black;
  width: 40em;
  height: 30em;
}

.imgcontainer{
position: relative;
top: 2em;
left: 13em;
}

.loginInfo{
  position: absolute;
  top: 15em;
  left: 13em;
}

/* END OF LOGIN CSS!! */